@import '@/stylesheets/variables';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
